@import "nav";
@import "base";
@import "interactive";
@import "footer";
/*----------------------------------
------------------------------------
Get INSPIRED PAGE 
------------------------------------
------------------------------------*/

.gallery-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem;
}

.gallery {
  max-width: 90vw;
  max-height: 100%;

  column-count: 3;

  .photo {
    width: 100%;
    min-height: 400px;
    object-fit: cover;
    cursor: pointer;
    display: inline-block;
    margin-top: 1rem;

    &:hover {
      transform: scale(1.02);
      transition: 350ms 100ms transform ease-in;
    }
  }
}

@media only screen and (max-width: 740px) {
  .gallery {
    column-count: 1;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .gallery {
    column-count: 2;
  }
}
