.navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transition: 300ms 100ms ease-in box-shadow, 300ms ease-in width;
  transition: 300ms 100ms ease-in box-shadow, 300ms ease-in width;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
}

.navbar .item-link {
  text-decoration: none;
  color: black;
  font-size: 1.3vw;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.navbar .item-link:hover {
  color: azure;
}

.navbar .navlink {
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .nav-item {
  display: none;
  position: relative;
}

.navbar .hamburger {
  width: 2vw;
  height: 5vh;
  margin: 1rem;
  fill: black;
  position: absolute;
  top: 0;
  cursor: pointer;
  -webkit-transition: 200ms ease-out fill;
  transition: 200ms ease-out fill;
}

.navbar:hover .hamburger {
  fill: #727272;
}

.navbar:hover, .navbar:target {
  min-width: 100vw;
  height: 10vh;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.11);
}

.navbar:hover .nav-item,
.navbar:target .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .item-link:hover {
  color: #eeb784;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

::-webkit-scrollbar-thumb {
  background: #818181;
}

::-webkit-scrollbar-thumb:hover {
  background: #292929;
}

::-webkit-scrollbar-track {
  -webkit-backdrop-filter: blur(0.4rem);
          backdrop-filter: blur(0.4rem);
}

.downArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 30px;
  left: 50vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(240, 255, 255, 0.411);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.downArrow:hover {
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  background-color: whitesmoke;
  /* background-color: rgba(0, 0, 0, 0.568); */
}

.downArrow:active {
  background-color: white;
}

.upArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 5px;
  left: 50vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(240, 255, 255, 0.411);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  z-index: 1;
}

.upArrow:hover {
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  background-color: whitesmoke;
}

.upArrow:active {
  background-color: white;
}

footer {
  height: 100vh;
  background: black;
}

/*----------------------------------
------------------------------------
Get INSPIRED PAGE 
------------------------------------
------------------------------------*/
.gallery-container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0rem;
}

.gallery {
  max-width: 90vw;
  max-height: 100%;
  -webkit-column-count: 3;
          column-count: 3;
}

.gallery .photo {
  width: 100%;
  min-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
}

.gallery .photo:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 350ms 100ms transform ease-in;
  transition: 350ms 100ms transform ease-in;
}

@media only screen and (max-width: 740px) {
  .gallery {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .gallery {
    -webkit-column-count: 2;
            column-count: 2;
  }
}
/*# sourceMappingURL=style.css.map */