@import "nav";
@import "base";
@import "interactive";
/*----------------------------------
------------------------------------
Get INSPIRED PAGE 
------------------------------------
------------------------------------*/

.gallery1,
.gallery2 {
  position: relative;

  max-width: 100vw;
  height: 100vh;
  display: flex;
}
.gallery2 {
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.8rem;

  .photo {
    width: 100%;
    object-fit: cover;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
      transition: 350ms 100ms transform ease-in;
    }
  }
}
